@import "tailwindcss";

@theme inline {
  --color-primary-one: oklch(0.9793 0.0207 166.11);
  --color-primary-five: oklch(0.6959 0.1491 162.48);
  --color-primary-six: oklch(0.596 0.1274 163.23);
  --color-primary-seven: oklch(0.5081 0.1049 165.61);
  --color-dark: oklch(0.2077 0.0398 265.75);
}

body {
  background-color: oklch(0.9782 0.0034 247.86);
  color: var(--color-dark);
  font-family: var(--font-plus-jakarta-sans);
}

main {
  @apply max-w-[1400px] mx-auto pt-24 px-8 pb-16 space-y-8;
}

h1 {
  @apply font-extrabold;
}

h2 {
  @apply font-bold;
}

th, td {
  @apply p-3;
}